<script type="text/javascript">
    window.iconSlack = "<%= image_url('icon_slack.svg') %>";
    window.pagodatower = "<%= image_url('pagoda-tower.jpg') %>";
    window.slackMarble = "<%= image_url('slack_marbles.jpg') %>";
    window.slackMarble1 = "<%= image_url('slackmarble1.gif') %>";
    window.slackMarble2 = "<%= image_url('slackmarble4.gif') %>";
    window.slackMarble3 = "<%= image_url('slackmarble3.gif') %>";
    window.sidebarWhiteLock = "<%= image_url('sidebar-white-lock.png') %>";
    window.offlineCircle = "<%= image_url('offline-circle2.png') %>";
    window.defaultPicture = "<%= image_url('default-profile-picture.png') %>";
    window.aalogo = "<%= image_url('Aa-logo.jpg') %>";
</script>
<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<main id="root">Static Page</main>

