<!DOCTYPE html>
<html>
  <head>
    <title>Slack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">window.iconSlack = "<%= image_url('icon_slack.svg') %>";
    <script type="text/javascript">window.pagoda-tower = "<%= image_url('pagoda-tower.jpg') %>";
</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
